<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <th scope="row">{{ cliente.id}}</th>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td>
                <button class="btn btn-primary" onclick="location.href='/clientes/{{ cliente.id }}'">Detalhes</button>
                <button class="btn btn-secondary" onclick="location.href='/clientes/editar/{{ cliente.id }}'">Editar</button>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>